*{
    margin: 0%;
    padding: 0%;
}
@font-face {
    font-family: "poppin_regular";
    src: url(Poppins-Regular.ttf);
}
@font-face {
    font-family: "poppin_medium";
    src: url(Poppins-Medium.ttf);
}
@font-face {
    font-family: "poppin_bold";
    src: url(Poppins-Bold.ttf);
}
@font-face {
    font-family: "poppin_thin";
    src: url(Poppins-Thin.ttf);
}
body{
    margin: 0%;
    padding: 0%;
    background-image: url(login_bg.jpg);
    background-size: cover;
}
.box{
    display: flexbox;
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 345px;
    background-color: white;
    margin-top: 9.5%;
}
h1{
    font-size: 60px;
    color: white;
    margin-left: 79px;
    margin-top: 70px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 440px;
}
p{
    font-size: 30px;
    color: white;
    margin-left: 79px;
    margin-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 80%;
}
#clg_logo{
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    width: 230px;
    bottom: 0%;
    left: 69px;
}
#lib_logo{
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    width: 172px;
    bottom: 2%;
    left: 912px;
}
#clg_name{
    margin: 0%;
    position: relative;
    font-size: 32px;
    color: black;
    top: 9px;
    left: 75px;
}
#lib_name{
    margin: 0%;
    position: relative;
    font-size: 32px;
    color: black;
    bottom: 28px;
    left: 1116px;
    width: 320px;
    text-align: center;
}
#button{
    width: 30%;
    height: 42px;
    background-image: url(login_bg.jpg);
    background-size: cover;
    font-size: 23px;
    font-family: 'poppin_medium';
    border-radius: 35px;
    color: white;
    position: relative;
    text-align: center;
    margin-left: 35%;
    margin-bottom: 0%;
    margin-top: -13%;
}
