*{
    margin: 0%;
    padding: 0%;
}
@font-face {
    font-family: "poppin_regular";
    src: url(Poppins-Regular.ttf);
}
@font-face {
    font-family: "poppin_medium";
    src: url(Poppins-Medium.ttf);
}
@font-face {
    font-family: "poppin_bold";
    src: url(Poppins-Bold.ttf);
}
@font-face {
    font-family: "poppin_thin";
    src: url(Poppins-Thin.ttf);
}
body{
    margin: 0%;
    padding: 0%;
    background-image: url(login_bg.jpg);
    background-size: cover;
}
.box{
    margin: 0%;
    padding: 0%;
    width: 1286px;
    height: max-content;
    background-color: white;
    position: relative;
    left: 8%;
    top: 90px;
    padding-bottom: 3%;
    border: 2px solid black;
    margin-bottom: 10%;
}
.box h1{
    padding-top: 10px;
    text-align: center;
    font-family:'poppin_medium';
    font-size: 32px;
    text-decoration: underline;
}
.box1{
    display: flex;
}
.box1 h3{
    padding: 35px 293px 0px 0px;
    font-family: 'poppin_medium';
    font-size: 27px;
    text-decoration: underline;
    flex-direction: row;
    position: relative;
    left: 238px;
    margin-left: -5%;
}
.box2{
    position: absolute;
    width: 1014px;
    height: 253px;
    top: 146px;
    left: 129px;
    background-color: white;
    border: 3px solid black;
}
#bn{
    font-family: 'poppin_regular';
    font-size: 25px;
    display: inline-block;
    position: relative;
    padding-left: 173px;
    padding-top: 30px;
    width: 260px;
}
#rd{
    font-family: 'poppin_regular';
    font-size: 25px;
    display: inline-block;
    padding-left: 311px;
    position: relative;
}
#isd{
    font-family: 'poppin_regular';
    font-size: 25px;
    display: inline-block;
    padding-left: 143px;
    position: relative;
}
#button{
    width: 30%;
    height: 42px;
    background-image: url(login_bg.jpg);
    background-size: cover;
    font-size: 23px;
    font-family: 'poppin_medium';
    border-radius: 35px;
    color: white;
    position: relative;
    text-align: center;
    margin-left: 36%;
    margin-bottom: 0%;
    margin-top: 2%;
}